---
layout: default
---

{% include headertop.html %}
{% include headerbottom.html %}

<div class="splash">
  <div class="darkblue-overlay">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="scala-logo">
          <img src="{{ site.baseurl }}/resources/img/mvc_logo_25.png" alt="Microvessel Chaste Logo" />
        </div>
        {% include navbar.html %}
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="splash-text ontop">
          <h2 style="font-weight: 700;">Microvessel Chaste</h2>
          <p class="splash-pitch">
            A Chaste plug-in library for 3D spatial modelling of vascularized tissue, including discrete cells and vessels, PDE solvers, meshing and geometry tools.
          </p>
          <a class="learn-more-btn" href="{{ site.baseurl }}/documentation/">Learn More</a>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="bullet-point-box">

  <div class="bullet-row-1-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="java-interop">
          <h3>Network Analysis</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonBuildVesselNetworkTutorial.html"><img src="{{ site.baseurl }}/resources/img/hex_networkr.png" alt="" /></a>
          <p>Generate artificial networks.</p>
        </div>
        <div class="span4 bullet-point" id="type-inference">
          <h3>Blood Flow</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonBiologicalNetworkLiteratePaper.html"><img src="{{ site.baseurl }}/resources/img/blood_flowr.png" alt="" /></a>
          <p>1-D models of blood flow.</p>
        </div>
        <div class="span4 bullet-point" id="concurrency-distribution">
          <h3>Chemical Transport</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonLatticeBasedAngiogenesisTutorial.html"><img src="{{ site.baseurl }}/resources/img/chemicalr.png" alt="" /></a>
          <p>Reaction-diffusion equations.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row1">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="bullet-row-2-wrap">
    <div class="container">
      <div class="row">
        <div class="span4 bullet-point" id="traits">
          <h3>Angiogenesis</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonOffLatticeAngiogenesisLiteratePaper.html"><img src="{{ site.baseurl }}/resources/img/angior.png" alt="" /></a>
          <p>Sprouting angiogenesis using lattice and off-lattice models.</p>
        </div>
        <div class="span4 bullet-point" id="pattern-matching">
          <h3>Discrete Cells</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonLatticeBasedAngiogenesisTutorial.html"><img src="{{ site.baseurl }}/resources/img/discrete_cellsr.png" alt="" /></a>
          <p>Cell cycle progression based on sub-cellular ODE models.</p>
        </div>
        <div class="span4 bullet-point" id="higher-order-functions">
          <h3>Geometry and Meshing</h3>
          <a href="{{ site.baseurl }}/documentation/tutorials/TestPythonOffLatticeAngiogenesisLiteratePaper.html"><img src="{{ site.baseurl }}/resources/img/meshingr.png" alt="" /></a>
          <p>Geometry manipulation and meshing for finite element analysis.</p>
        </div>
      </div>
      <div class="code-snippet-arrow"></div>
    </div>
  </div>

  <div id="code-snippet-row2">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="where-to-learn-more">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="learn-more-btn" href="{{ site.baseurl }}/documentation">Learn More</a>
          <p>or visit the <a class="italicize" href="{{ site.baseurl }}/documentation">Microvessel Chaste Documentation</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


{% include footer.html %}
